<app-header></app-header>

<ion-content>

    <div class="ion-margin-vertical ion-margin-start">
        <h3>50 TOP ANIME TITLES ON MYANIMELIST</h3>
    </div>

    <ion-grid>
        <ion-row>
            <ion-card *ngFor="let anime of topAnimeList" (click)="displayAnimeDetail(anime.mal_id)">
                <img src="{{anime.image_url}}">
                <ion-card-header>
                    <ion-card-subtitle>{{anime.start_date}} - {{anime.episodes}} episodes</ion-card-subtitle>
                    <ion-card-title>{{anime.title}}</ion-card-title>
                </ion-card-header>
            </ion-card>
        </ion-row>
    </ion-grid>

</ion-content>
