<app-header></app-header>

<ion-content>

    <div style="margin: 40px;">
        <h3>50 TOP ANIME TITLES ON MYANIMELIST</h3>
    </div>

    <ion-grid>
        <ion-row>
            <ion-card>
                <ion-card-header>
                    <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
                    <ion-card-title>Card Title</ion-card-title>
                </ion-card-header>

                <ion-card-content>
                    Keep close to Nature's heart... and break clear away, once in awhile
                </ion-card-content>
            </ion-card>
        </ion-row>
    </ion-grid>

</ion-content>
