<ion-header translucent>
  <ion-toolbar>
    <ion-title>Details</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-grid>
    <ion-row>

      <ion-col size-xs="7" size-md="5" size-lg="4">
        <ion-img src="{{anime.image_url}}"></ion-img>
      </ion-col>

      <ion-col size-xs="12" size-md="7" size-lg="8">
        <ion-text class="ion-text-center">
          <div>{{anime.premiered + ' - ' + anime.episodes + ' episodes'}}</div>
        </ion-text>
        <ion-text class="ion-text-center">
          <h3>{{anime.title}}</h3>
        </ion-text>
        <ion-text class="ion-text-justify">
          <div class="ion-justify-content-start">{{anime.background}}</div>
        </ion-text>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>
